<div class=" border-secondary p-2">
    <div class="bg-white border box-shadow p-3">
        <!-- THÊM,IMPORT,XÓA, DOWLOAD,PRINT -->
        <div class="pb-3 d-flex justify-content-between">
            <div>

                <div class="col-sm-12 mg-b-20">
                    <div class="btn-group">
                        <a class="btn btn-bold btn-primary Active" href="javascript:void(0);" onclick="javascript:ChoiceTab(this)"
                            value="1">Tổng kết điểm</a>
                        <a class="
                                            btn btn-bold btn-primary" href="javascript:void(0);"
                            onclick="javascript:ChoiceTab(this)" value="2">Xếp loại học sinh</a></div>
                </div>

            </div>
            <div>

            </div>
        </div>
        <!-- filter -->
        <div class="select-search">
            <div class="row">
                <!-- Select khối học sinh -->
                <div class="col-md-4">
                    <label for="khoi"> Lớp</label>
                    <select class="pr-3 pl-3 pt-1 pb-1 border">
                        <option value="true">Lớp 10A1</option>
                        <option value="true">Lớp 10A2</option>
                        <option value="true">Lớp 10A3</option>
                        <option value="true">Lớp 10A4</option>
                        <option value="true">Lớp 10A5</option>
                        <option value="true">Lớp 10A6</option>
                        <option value="true">Lớp 10A7</option>
                        <option value="true">Lớp 10A8</option>
                        <option value="true">Lớp 10A9</option>
                        <option value="true">Lớp 10A10</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="lop"> Học Kì </label>
                    <select class="pr-3 pl-3 pt-1 pb-1 border">
                        <option value="true">Học Kì 1</option>
                        <option value="true">Học Kì 2</option>
                        <option value="true">Cả Năm</option>
                    </select>
                </div>


            </div>
        </div>


        <!-- thanh search -->
        <div class="flex-fill search-wrapper" id="search-control">
            <div class="input-search ">
                <input type="text" class="input-search-text" placeholder="Tìm nhanh">
                <div class="button-show-addvance">
                    <a id="showAdvanceSearch">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="search-addvance box-shadow" id="formAdvanceSearch">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Trường</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTruong">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Lớp</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputLop">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTen">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Mã số HS</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputMasoHS">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Ngày
                            sinh</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputNgáyinh">
                        </div>
                    </div>
                </form>
                <div class="d-flex">
                    <div class="mr-auto">
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        <button type="button" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- table -->
    
    <div class="table-wrapper">
        <div class="table-container">
            <table class="table-fixed-header table-hover table table-striped ">
                <thead class="table-primary">
                    <tr>


                        <th ng-repeat="h in xeploai" style= "width: '{{h.width}}'">
                            <div style="color: #fff; display: inline-block; font-size: 12px; overflow: scroll; /* thanh cuộn */
                            overflow: hidden; /* ẩn đi */">{{h.mon}}</div>
                        </th>
                        <th style="max-width: 60px">
                            <div class="cell">
                                <input type="checkbox" name="" id="checkAll" class="checkbox checkbox--red">
                            </div>
                        </th>

                    </tr>


                </thead>


                <tbody>
                    <xxx>
                        <tr ng-repeat="x in kqXeploai">

                            <td>{{x.stt}}</td>
                            <td>{{x.lop}}</td>
                            <td>{{x.trangthai}}</td>
                            <td>{{x.thoigian}}</td>
                            <td>{{x.sohs}}</td>
                            <td>
                                <div class="cell">
                                    <input type="checkbox" name="" id="" class="checkbox checkbox--red">
                                </div>
                            </td>

                        </tr>
                    </xxx>
                </tbody>


            </table>

            </table>
        </div>
    </div>
    <!-- phân trang -->
    <div class="mt-3 d-flex justify-content-between">
        <div>
            <p>Hiển thị 1 đến 10 dòng trong tổng số 57 dòng</p>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">100</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>