<div class=" border-secondary p-2" ng-controller="bangHoSoMienGiam">
   <div class="bg-white border box-shadow p-3">
      <!-- Phan chon muc ơ day -->
      <div class="d-flex">
         <div class="col p-0 mb-2">
            <ul class="nav">
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-hoc-sinh">Hồ
                     sơ</button>
               </li>
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-mien-giam" disabled>Miễn giảm</button>
               </li>
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-ca-biet">Cá biệt</button>
               </li>
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-khen-thuong">Khen thưởng</button>
               </li>
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-ky-luat">Kỷ luật</button>
               </li>
               <li class="nav-item">
                  <button type="button" class="btn btn-primary" ui-sref="bang-ho-so-bao-luu">Bảo
                     lưu</button>
               </li>
            </ul>
         </div>
      </div>
      <!-- Ket thuc phan chon muc -->
      <!-- THÊM,IMPORT,XÓA, DOWLOAD,PRINT -->
      <div class="pb-3 d-flex justify-content-between">
         <div>
            <button ng-click="hello()" id="editbtn" class="btn btn-success text-white" data-toggle="modal" href="#">
               <i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh Sửa
            </button>
            <button id="cancelbtn" class="btn btn-success text-white d-none" data-toggle="modal" href="#">
               <i class="fa fa-times" aria-hidden="true"></i> Hủy
            </button>
            <button class="btn btn-warning text-white" data-toggle="modal" href="#">
               <i class="fa fa-upload" aria-hidden="true"></i> Import
            </button>
            <button class="btn btn-primary text-white" data-toggle="modal" href="#">
               <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
            <button id="buttonDelete" class="btn btn-danger" data-toggle="modal" href="#" data-target="#deleteTable">
               <i class="fa fa-trash-o" aria-hidden="true"></i> Xóa
            </button>
         </div>
         <div class="modal fade" id="deleteTable" ng-include="'shared/layout/confirm.html'">
         </div>
         <div>
            <!-- <button type="button" class="btn btn-info">
                 <i class="fa fa-clone" aria-hidden="true"></i> Copy
              </button> -->
            <button type="button" class="btn btn-info">
               <i class="fa fa-download" aria-hidden="true"></i> Download
            </button>
            <button type="button" class="btn btn-info">
               <i class="fa fa-print" aria-hidden="true"></i> Print
            </button>
         </div>
      </div>
      <!-- filter -->
      <div class="d-flex justify-content-between">
         <div class=" w-50">
            <select class="pr-3 pl-3 pt-1 pb-1 border">
               <option value="true">10 dòng</option>
               <option value="true">20 dòng</option>
               <option value="true">50 dòng</option>
            </select>
            <select ng-model="currentKhoi" class="pr-3 pl-3 pt-1 pb-1 border">
               <option value="10">Khối 10</option>
               <option value="11">Khối 11</option>
               <option value="12">Khối 12</option>
            </select>
            <select class="pr-3 pl-3 pt-1 pb-1 border">
               <option value="true" ng-repeat="lop in lopHoc">{{lop.tenLopHoc}}</option>
            </select>
            <select class="pr-3 pl-3 pt-1 pb-1 border">
               <option value="true">Học kì 1</option>
               <option value="true">Học kì 2</option>
               <option value="true">Cả năm</option>
               <option value="">Rèn luyện lại</option>
            </select>
         </div>
         <!-- thanh search -->
         <div class="flex-fill search-wrapper" id="search-control">
            <div class="input-search ">
               <input type="text" class="input-search-text" placeholder="Tìm nhanh">
               <div class="button-show-addvance">
                  <a id="showAdvanceSearch">
                     <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                  </a>
               </div>
            </div>
            <div id="advanceSearch"></div>
         </div>
      </div>

      <div class="table-wrapper">
         <div class="table-container">
            <table class="table-fixed-header table-hover">
               <colgroup>
                  <col width="5%">
                  <col width="5%">
                  <col width="15%">
                  <col width="5%">
                  <col width="5%">
                  <col width="10%">
                  <col width="15%">
                  <col width="10%">
               </colgroup>
               <thead class="table-primary">
                  <tr>
                     <th>
                        <div class="cell">
                           <input type="checkbox" name="" ng-model="checkAll" id="checkAll"   class="checkbox checkbox--red">
                        </div>
                     </th>
                     <th>
                        <div>STT</div>
                     </th>
                     <th>
                        <div>Tên HS</div>
                     </th>
                     <th>
                        <div>Mã HS</div>
                     </th>
                     <th>
                        <div>Lớp</div>
                     </th>
                     <th>
                        <div>Môn miễn giảm</div>
                     </th>
                     <th>
                        <div>Miễn kỳ 1</div>
                     </th>
                     <th>
                        <div>Miễn kỳ 2</div>
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="table-light" ng-repeat="x in dsHSMienGiam">
                     <td>
                        <div class="cell">
                           <input type="checkbox" name="" ng-checked="checkAll" id="{{x.id}}" ng-click="InsertOrDelete($event,x)" class="checkbutton checkbox checkbox--red" >
                        </div>
                     </td>
                     <td>{{x.Stt}}</td>
                     <td>{{x.ten}}</td>
                     <td>{{x.mahslop}}</td>
                     <td>{{x.lop}}</td>
                     <td>{{x.monmiengiam}}</td>
                     <td>
                        <span class="label-control">{{x.mommiengiam}}</span>
                        <select class="form-control edit-input input-control form-custom-control p-1 d-none" id="exampleFormControlSelect1">
                           <option value="">[{{x.mommiengiam}}]</option>
                           <option>Toán</option>
                           <option>Hóa</option>
                           <option>Sinh</option>
                           <option>Văn</option>
                           <option>Sử</option>
                        </select>

                     </td>
                     <td>
                        <span class="label-control">{{x.mienhk1}}</span>
                        <select class="form-control edit-input input-control form-custom-control p-1 d-none" id="exampleFormControlSelect1">
                           <option value="">[{{x.mienhk1}}]</option>
                           <option>Được miễn</option>
                           <option>Không miễn</option>
                        </select>
                     </td>
                     <td>
                        <span class="label-control">{{x.mienhk2}}</span>
                        <select class="form-control edit-input input-control form-custom-control p-1 d-none" id="exampleFormControlSelect1">
                           <option value="">[{{x.mienhk2}}]</option>
                           <option>Được miễn</option>
                           <option>Không miễn</option>
                        </select>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- phân trang -->
      <div class="mt-3 d-flex justify-content-between">
         <div>
            <p>Hiển thị 1 đến 10 dòng trong tổng số 57 dòng</p>
         </div>
         <nav aria-label="Page navigation example">
            <ul class="pagination">
               <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                     <span class="sr-only">Previous</span>
                  </a>
               </li>
               <li class="page-item active"><a class="page-link" href="#">1</a></li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">...</a></li>
               <li class="page-item"><a class="page-link" href="#">100</a></li>
               <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                     <span class="sr-only">Next</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>