<div class=" border-secondary p-2">
    <div class="bg-white border box-shadow p-3">
       <!-- THÊM,IMPORT,XÓA, DOWLOAD,PRINT -->
       <div class="pb-3 d-flex justify-content-between">
          <div>
             <button id="editbtn" class="btn btn-success text-white" data-toggle="modal" href="#">
                <i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh Sửa
             </button>
             <button id="cancelbtn" class="btn btn-success text-white d-none" data-toggle="modal" href="#">
                <i class="fa fa-times" aria-hidden="true"></i> Hủy
             </button>
             <button  class="btn btn-warning text-white" data-toggle="modal" href="#">
                <i class="fa fa-upload" aria-hidden="true"></i> Import
             </button>
             <button class="btn btn-primary text-white" data-toggle="modal" href="#">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
             </button>
             <button id="buttonDelete" disabled class="btn btn-danger" data-toggle="modal" href="#" data-target="#confirmModal">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Xóa
             </button>
          </div>
          <div>
          <!-- <button type="button" class="btn btn-info">
             <i class="fa fa-clone" aria-hidden="true"></i> Copy
          </button> -->
          <button type="button" class="btn btn-info">
             <i class="fa fa-download" aria-hidden="true"></i> Download
          </button>
          <button type="button" class="btn btn-info">
             <i class="fa fa-print" aria-hidden="true"></i> Print
          </button>
       </div>
    </div>
    <!-- filter -->
    <div class="d-flex justify-content-between">
       <div class=" w-50">
          <select class="pr-3 pl-3 pt-1 pb-1 border">
             <option value="true">10 dòng</option>
             <option value="true">20 dòng</option>
             <option value="true">50 dòng</option>
          </select>
          <select class="pr-3 pl-3 pt-1 pb-1 border">
             <option value="true">Khối 10</option>
             <option value="true">Lớp 11</option>
             <option value="true">Khối 12</option>
          </select>
          <select class="pr-3 pl-3 pt-1 pb-1 border">
             <option value="true">Lớp 10A1</option>
             <option value="true">Lớp 10A2</option>
             <option value="true">Lớp 10A3</option>
          </select>
          <select class="pr-3 pl-3 pt-1 pb-1 border">
             <option value="true">Học kì 1</option>
             <option value="true">Học kì 2</option>
             <option value="true">Cả năm</option>
             <option value="">Rèn luyện lại</option>
          </select>
       </div>
       <!-- thanh search -->
       <!-- thanh search -->
       <div class="w-50 search-wrapper" id="search-control">
          <div class="input-search ">
             <input type="text" class="input-search-text" placeholder="Tìm nhanh">
             <div class="button-show-addvance">
                  <a ng-click="showAdvanceSearch()">
                   <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>
             </div>
          </div>
          <div class="search-addvance box-shadow" id="formAdvanceSearch">
             <form>
                <div class="form-group row">
                   <label for="nhomloivipham" class="col-sm-3 col-form-label">Nhóm lỗi vi phạm</label>
                   <div class="col-sm-9">
                      <select class="form-control" id="nhomloivipham">
                         <option value="">[Tất cả]</option>
                         <option value="">Kỷ luật</option>
                         <option value="">Khiển trách</option>
                         <option value="">Nhắc nhở</option>
                      </select>
                   </div>
                </div>
                <div class="form-group row">
                   <label for="lop" class="col-sm-3 col-form-label">Lớp</label>
                   <div class="col-sm-9">
                      <select class="form-control" id="lop">
                         <option value="">[Tất cả]</option>
                         <option value="">10A1</option>
                         <option value="">10A2</option>
                         <option value="">10A3</option>
                         <option value="">10A4</option>
                         <option value="">10A5</option>
                      </select>
                   </div>
                </div>
                <div class="form-group row">
                   <label for="inputPassword" class="col-sm-3 col-form-label">Tên</label>
                   <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputTen">
                   </div>
                </div>
                <div class="form-group row">
                   <label for="inputPassword" class="col-sm-3 col-form-label">Mã số HS</label>
                   <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputMasoHS">
                   </div>
                </div>
                <div class="form-group row">
                   <label for="tungay" class="col-sm-3 col-form-label">Từ ngày</label>
                   <div class="col-sm-9">
                      <input type="date" class="form-control" id="tungay">
                   </div>
                </div>
                <div class="form-group row">
                   <label for="denngay" class="col-sm-3 col-form-label">Đến ngày</label>
                   <div class="col-sm-9">
                      <input type="date" class="form-control" id="denngay">
                   </div>
                </div>
             </form>
             <div class="d-flex">
                <div class="mr-auto">
                </div>
                <div>
                   <button type="button" class="btn btn-outline-secondary">Cancel</button>
                   <button type="button" class="btn btn-primary">Tìm kiếm</button>
                </div>
             </div>
          </div>
       </div>
    </div>
    
    <div class="table-wrapper">
       <div class="table-container">
          <table class="table-fixed-header table-hover">
             <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="15%">
                <col width="10%">
                <col width="15%">
                <col width="10%">
             </colgroup>
             <thead class="table-primary">
                <tr>
                   <th>
                      <div class="cell">
                         <input type="checkbox" name="" id="checkAll" class="checkbox checkbox--red">
                      </div>
                   </th>
                   <th>
                      <div>STT</div>
                   </th>
                   <th>
                      <div>Lớp</div>
                   </th>
                   <th>
                      <div>Mã HS</div>
                   </th>
                   <th>
                      <div>Tên HS</div>
                   </th>
                   <th>
                      <div>Ngày vi phạm</div>
                   </th>
                   <th>
                      <div>Lỗi vi phạm</div>
                   </th>
                   <th>
                      <div>Tổng số điểm trừ</div>
                   </th>
                </tr>
             </thead>
             <tbody>
                <tr class="table-light" ng-repeat="x in vipham">
                   <td>
                      <div class="cell">
                         <input type="checkbox" name="" id="" class="checkbox checkbox--red">
                      </div>
                   </td>
                   <td>{{$index}}</td>
                   <td>{{x.lop}}</td>
                   <td>{{x.mahs}}</td>
                   <td>{{x.hoten}}</td>
                   <td>
                      <span class="label-control">{{x.ngayvipham}}</span><input type="date" class="edit-input input-control form-custom-control p-1 d-none"  ng-model="x.ngayvipham">
                   </td>
                   <td>
                      <span class="label-control">{{x.loivipham}}</span><input type="text" class="edit-input input-control form-custom-control p-1 d-none"  ng-model="x.loivipham">
                   </td>
                   <td>
                      <span class="label-control">{{x.diemtru}}</span><input type="text" class="edit-input input-control form-custom-control p-1 d-none"  ng-model="x.diemtru">
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <!-- phân trang -->
    <div class="mt-3 d-flex justify-content-between">
       <div>
          <p>Hiển thị 1 đến 10 dòng trong tổng số 57 dòng</p>
       </div>
       <nav aria-label="Page navigation example">
          <ul class="pagination">
             <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                   <span aria-hidden="true">&laquo;</span>
                   <span class="sr-only">Previous</span>
                </a>
             </li>
             <li class="page-item active"><a class="page-link" href="#">1</a></li>
             <li class="page-item"><a class="page-link" href="#">2</a></li>
             <li class="page-item"><a class="page-link" href="#">...</a></li>
             <li class="page-item"><a class="page-link" href="#">100</a></li>
             <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                   <span class="sr-only">Next</span>
                </a>
             </li>
          </ul>
       </nav>
    </div>
 </div>
</div>
