.sidebar .nav-item{
    width: 100%;
}
.sidebar{
    background: linear-gradient(rgb(43,57,144) 30%, rgb(27,117,188)) !important;
}
.sidebar .nav-link {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    margin-right: 10px !important;
}
.sidebar .nav-link .nav-icon{
    color: #fff !important;
}
.sidebar .nav-link.active {
    color: #fff;
    background:#20a8d8 !important;
}
.sidebar .nav-link:hover {
    color: #fff;
    background: #1B75BC;
}
.sidebar-minimized .sidebar .sidebar-minimizer{
    background-color:  rgba(0, 0, 0, 0.2);
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link{
    background-color: #1B75BC !important;
}
.sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items{
    background: linear-gradient(rgb(43,57,144) 30%, rgb(27,117,188)) !important;
}

.sidebar .nav-dropdown .nav-link {
    width: 100% !important;
}
