#table_PCGiaoVu  tr>th:first-child,
#table_PCGiaoVu  tr>td:first-child{
  min-width: 50px !important;
  max-width: 50px !important;
}

#table_PCGiaoVu tr>th:nth-child(2),
#table_PCGiaoVu tr>td:nth-child(2){
  min-width: 70px !important;
  max-width: 70px !important;
}

#table_PCGiaoVu tr>th:nth-child(3),
#table_PCGiaoVu tr>td:nth-child(3),
#table_PCGiaoVu tr>th:nth-child(4),
#table_PCGiaoVu tr>td:nth-child(4),
#table_PCGiaoVu tr>th:nth-child(5),
#table_PCGiaoVu tr>td:nth-child(5){
  min-width: 150px !important;
  max-width: 150px !important;
}