#table_danhhieuthiduatapthe  tr>th:first-child,
#table_danhhieuthiduatapthe  tr>td:first-child{
  min-width: 50px !important;
  max-width: 50px !important;
}

#table_danhhieuthiduatapthe tr>th:nth-child(2),
#table_danhhieuthiduatapthe tr>td:nth-child(2){
  min-width: 50px !important;
  max-width: 50px !important;
}
#table_danhhieuthiduatapthe tr>th:nth-child(3),
#table_danhhieuthiduatapthe tr>td:nth-child(3){
  min-width: 120px !important;
  max-width: 120px !important;
  
}
#table_danhhieuthiduatapthe tr>th:nth-child(4),
#table_danhhieuthiduatapthe tr>td:nth-child(4){
  min-width: 100px !important;
  max-width: 100px !important;
}
#table_danhhieuthiduatapthe tr>th:nth-child(5),
#table_danhhieuthiduatapthe tr>td:nth-child(5){
  min-width: 250px !important;
  max-width: 250px !important;
}
#table_danhhieuthiduatapthe tr>th:nth-child(6),
#table_danhhieuthiduatapthe tr>td:nth-child(6){
  min-width: 50px !important;
  max-width: 50px !important;
}