<div ng-controller="danhSachGVCtrl as cb">
    <!-- Danh Sách Cán Bộ -->
    <div class="bg-white container-fluid pt-2 pb-0 pr-3 pl-3">
        <!-- THÊM,IMPORT,XÓA, DOWLOAD,PRINT -->
        <div class="pb-2 d-flex justify-content-between">
            <div>
                <button ng-controller="AddCtrl" type="button" data-toggle="modal" data-target="#themGiaoVien"
                    class="btn btn-success" ng-click="addData()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
                <button type="button" id="buttonDelete" class="btn btn-danger" disabled class="btn btn-danger"
                    ng-click="cb.removeSelectedRows()" ng-disabled="cb.countChecked() == 0" data-toggle="modal"
                    data-target="#DeleteCB">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Xóa
                </button>
            </div>
            <div>
                <div class="d-inline-block">
                    <button type="button" class="btn btn-info text-white mr-1" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <span>Nhập/Xuất File</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-upload text-success"></i> Nhập file từ máy tính</a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-download text-danger"></i> Xuất file</a>
                    </div>
                </div>
                <!-- <div class="btn btn-info text-white mr-1" style="position: relative;
                overflow: hidden;">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <span>Import</span>
                    <input class="text-white" type="file" style="position: absolute;font-size: 50px; right: 0; top: 0;">
                </div> -->
                <button type="button" class="btn text-white btn-info mr-1">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <a style="text-decoration:none; color: white" href="/images/myw3schoolsimage.jpg" download>
                        Download</a>
                </button>
                <button type="button" class="btn text-white btn-info mr-1" onclick="myPrint()">
                    <i class="fa fa-print" aria-hidden="true"></i> Print
                </button>
            </div>
            <div class="modal fade" id="DeleteCB" ng-include="'shared/layout/confirm.html'">
            </div>
        </div>
        <!-- filter -->
        <div class="d-flex justify-content-between">
            <div class="flex-fill">
                <select ng-model="cb.itemsPerPage"
                    ng-options="(item+' dòng') for item in cb.itemsPerPageOptions track by item"
                    class="pr-3 pl-3 pt-1 pb-1 border">
                </select>
                <select class="pr-3 pl-3 pt-1 pb-1 border " ng-model="cb.toBoMon"
                    ng-options="boMon.tenToBoMon for boMon in cb.toBoMonSelect track by boMon.id"
                    ng-change="cb.filterToBoMon()">
                    <option value="">Tổ Bộ Môn</option>
                </select>
            </div>
            <!-- thanh search -->
            <div class="w-50 ml-auto search-wrapper" id="advanced-search-control" ng-controller="searchCtrl">
                <form ng-submit="getKeyword(keyword)">
                    <div class="input-search pl-3 pr-3">
                        <input type="search" class="input-search-text" placeholder="Tìm nhanh" ng-model="keyword"
                            required>
                        <div class="button-show-addvance">
                            <a id="showAdvanceSearch" ng-click="showDialog()">
                                <i ng-class="{'fa fa-caret-down':searchClass ==='fade-out', 'fa fa-caret-up':searchClass ==='fade-in' }"
                                    aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </form>
                <div ng-class="searchClass" class="search-addvance box-shadow shadow" id="formAdvanceSearch">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên giáo viên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTen" ng-model="tenGiaoVien">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tổ bộ môn</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputToBoMon" ng-model="toBoMon">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputSoDTDD" ng-model="SoDTDD">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-auto">
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary"
                                ng-click="hideDialog()">Cancel</button>
                            <button type="button" class="btn btn-primary"
                                ng-click="advancedSearch(tenGiaoVien, toBoMon, soDTDD)">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-secondary p-2 m-1">
        <div class="bg-white border box-shadow p-2">
            <!-- table -->
            <div class="table-wrapper">
                <div class="d-flex">
                    <div class="mr-auto">
                    </div>
                    <div>
                        <b>BẢNG DANH SÁCH HỒ SƠ GIÁO VIÊN</b>
                    </div>
                    <div class="ml-auto">
                        <!-- Button trigger modal -->
                        <div class="p-1 help-cursor" data-toggle="modal" data-target="#help-danh-sach-gv">
                            <span class="text-danger">
                                Trợ Giúp
                            </span>
                            <i class="fa fa-question-circle text-danger"></i>
                        </div>
                    </div>
                </div>
                <table id="table-user" class="table-fixed table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                <div class="cell">
                                    <input type="checkbox" name="" id="checkAll" class="checkbox checkbox--red"
                                        ng-model="cb.isAll" ng-click="cb.selectAllRows()">
                                </div>
                            </th>
                            <th ng-repeat="head in cb.header">
                                <div>{{head}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in cb.danhsachCB">
                            <td>
                                <div class="cell">
                                    <input type="checkbox" name="" id="{{data.id}}" class="checkbox checkbox--red"
                                        ng-model="cb.tableSelection[$index]" ng-click="cb.demChecked($index)">
                                </div>
                            </td>
                            <td>GV-{{data.id}}</td>
                            <td>{{data.tenCanBo}}</td>
                            <td>{{data.toBoMon.tenToBoMon}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.soDTDD | phonenumber}}</td>
                            <td class="middle p-1">
                                <div class="d-flex justify-content-around">
                                    <div ng-controller="EditCtrl as edit" data-toggle="tooltip" data-placement="top"
                                        title="Chỉnh sửa thông tin">
                                        <a data-toggle="modal" data-target="#suaGiaoVien" ng-click="edit.catchID(data)">
                                            <i class="fa fa-pencil fa-pencil-hd action-edit"></i></a>
                                    </div>
                                    <div data-toggle="tooltip" data-placement="top" title="Xem thông tin">
                                        <a data-toggle="modal" data-target="#xemGiaoVien"
                                            ng-click="cb.viewDetail(data)">
                                            <i class="fa fa-eye fa-eye-hd action-view"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Phân trang -->
            <!-- <div class="mt-2 mb-2 d-flex justify-content-between"
                ng-include="'shared/common/phan-trang/phan-trang.html'" ng-controller="phanTrangCtrl as xxx"></div> -->
            <div class="mt-2 mb-2 d-flex justify-content-between">
                <div>
                    <span class="small mb-0" ng-if="cb.totalItems>0">Hiển thị dòng {{(cb.currentSelected -
                        1)*cb.itemsPerPage + 1}} đến {{cb.lastItem}} trong tổng số
                        {{cb.totalItems}} dòng, tổng số {{cb.totalPages}} trang</span>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-click="cb.first()">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-click="cb.prev()">Prev</a>
                        </li>
                        <li ng-repeat="number in cb.pagesRange" class="page-item"
                            ng-class="(number === cb.currentSelected) ? 'active': ''">
                            <a class="page-link" ng-click="cb.currentSelected = number">{{number}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-click="cb.next()">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-click="cb.last()">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="themGiaoVien" ng-include="'modules/giao-vien/danh-sach-giao-vien/them-giao-vien.html'">
    </div>
    <div class="modal fade" id="suaGiaoVien" ng-include="'modules/giao-vien/danh-sach-giao-vien/sua-giao-vien.html'">
    </div>
    <div class="modal fade" id="xemGiaoVien" ng-include="'modules/giao-vien/danh-sach-giao-vien/xem-giao-vien.html'">
    </div>
    <div class="modal fade" id="help-danh-sach-gv"
        ng-include="'modules/giao-vien/danh-sach-giao-vien/help-danh-sach-gv.html'"></div>
</div>