<div class="tab-pane fade show active" id="nav-kl" role="tabpanel" aria-labelledby="nav-contact-tab">
    <fieldset>
        <legend><h4>Khen thưởng</h4></legend>
        <table class="table  table-bordered">
            <thead style="background:#95a5a6">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ngày khen thưởng</th>
                    <th scope="col">Hình thức khen thưởn</th>
                    <th scope="col">Địa điểm khen thưởng</th>
                    <th scope="col">Nội dung khen thưởng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </fieldset>
    <br>
    <fieldset>
        <legend><h4>Kỷ luật</h4></legend>
        <table class="table table-bordered">
            <thead style="background:#95a5a6">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ngày kỷ luật</th>
                    <th scope="col">Hình thức kỷ luật</th>
                    <th scope="col">Địa điểm kỷ luật</th>
                    <th scope="col">Nội dung kỷ luật</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </fieldset>

</div>