<div class="tab-pane fade show active" id="nav-mg" role="tabpanel" aria-labelledby="nav-about-tab">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item top" style="background:#95a5a6;">Năm học</li>
                <li class="list-group-item">2018-2019</li>
                <li class="list-group-item">10A1</li>
            </ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <h4>Vi phạm</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead style="background:#95a5a6" class="text-center">
                                    <tr>
                                        <th colspan="3">Học kỳ 1</th>
                                        <th colspan="3">Học kỳ 2</th>
                                        <th colspan="3">Cả năm</th>
                                    </tr>
                                    <tr>
                                        <th>TBCM</th>
                                        <th>HL</th>
                                        <th>HK</th>
                                        <th>TBCM</th>
                                        <th>HL</th>
                                        <th>HK</th>
                                        <th>TBCM</th>
                                        <th>HL</th>
                                        <th>HK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="row">
                <div class="col">
                    <h4>Nghỉ học</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead style="background:#95a5a6">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Ngày nghỉ</th>
                                        <th scope="col">Sáng</th>
                                        <th scope="col">Chiều</th>
                                        <th scope="col">Tối</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3    -->
            <div class="row">
                <div class="col">
                    <h4>Miễn giảm</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead style="background:#95a5a6">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Môn miễn giảm</th>
                                        <th scope="col">Học kỳ</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style lang="css">
    @media (min-width:992){
        .modal-lg {
          max-width: 1200px !important;
        }
      }
</style>