<div class="tab-pane fade show active" id="nav-ht" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
        <div class="col-6">
            <div class="col-3">
                <label for="">Năm học:</label>
            </div>
            <div class="col-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>2018 - 2019</option>
                    <option>2017 - 2018</option>
                    <option>2016 - 2017</option>
                </select>
            </div>
        </div>
        <div class="col-6 ">
            <div class="col-3">
                <label for="">Đợt khám:</label>
            </div>
            <div class="col-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-primary">Xem</button>
        </div>
    </div>
    <!-- 3 -->
    <div class="table-sk">
        <fieldset>
            <legend><h4>Thông tin học sinh</h4></legend>
            <table>
                <tbody>
                    <tr>
                        <td>Họ tên:</td>
                        <td>Ngày sinh:</td>
                        <td>Giới tính:</td>
                        <td>Lớp:</td>
                    </tr>
                    <tr>
                        <td>Tiền sử bản thân</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>  
        <br> 
        <fieldset>
            <legend><h4>Thông tin sức khỏe</h4></legend>
            <table class="table table-bordered">
                <col width="20%">
                <col width="80%">
                <tbody>
                    <tr>
                        <th>Thể lực</th>
                        <td>Chưa khám</td>
                    </tr>
                    <tr>
                        <th>Mắt</th>
                        <td>Chưa khám</td>
                    </tr>
                    <tr>
                        <th>Tai mũi họng</th>
                        <td>Chưa khám</td>
                    </tr>
                    <tr>
                        <th>Cột sống</th>
                        <td>Chưa khám</td>
                    </tr>
                    <tr>
                        <th>Răn hàm mặt</th>
                        <td>Chưa khám</td>
                    </tr>
                    <tr>
                        <th>Nội tổng quát</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ngoại tổng quát</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Bệnh ngoài da</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Bệnh khác</th>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                         <label class="checkbox-inline"><input type="checkbox" value="">Bệnh tim</label>

                                     </div>
                                 </td>
                                 <td>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Dị tật bẩm sinh</label>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Đánh giá sức khỏe</th>
                <td>
                    <table>
                        <col width="33.33%">
                        <col width="33.33%">
                        <col width="33.33%">
                        <tbody>
                            <tr>
                                <td>Phân loại thể lực:</td>
                                <td>Dinh dưỡng:</td>
                                <td>Đánh giá sức khỏe:</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Đề nghị</th>
                <td></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    Bác sĩ: <br>
                    &nbsp; <br>
                    Đơn vị khám: 
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
</div>
</div>